// Place all the styles related to the Plots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    font-family: 'Acme', sans-serif;
    background: #488B49;
    color: rgb(78, 41, 10);
    font-weight: 300;
}

.individual_plot{
    position: relative;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;    
    background-color: #4B2A01;
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    padding: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(24, 16, 8);
}

.individual_plot:hover .overlay {
    opacity: 1;
}

.garden_area{
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #5B3D18;
    width: 90%;
    margin: 50px 50px;
    height: 70%;
    padding: 10px;
}

.company_name{
    position: absolute;
    top: 65%;
    margin-left:5%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 22px;
    color: #F2F2F2;
}

.job_title{
    position: absolute;
    top: 78%;
    margin-left:5%;
    margin-right: 5%;
    font-size: 15px;
    color: #F2F2F2;
}

.options{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    bottom: 10px;
}

.plants{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -100%);
}

img{
    height: 200px;
    width: 200px;
}

.button{
    background-color: #306F35;
    border-radius: 5px;
    color: #F2F2F2;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.new_plot{
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #4B2A01;
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    padding: 10px;
}

.details{
    position: relative;
    color: #F2F2F2;
    padding: 3px 3px;
    width: 230px;
    left: 10px;
    top: 10px;
}

