// Place all the styles related to the Plots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    font-family: 'Mukta Mahee', sans-serif;
    background-image: url("/Grass_01.jpg");    
    background-color: #488B49;
    color: #F2F2F2;
    font-weight: 300;
    position: relative; 
    min-height: 100%; 
    margin: 0px;
}

img{
    height: 180px;
    width: 180px;
}

.banner{
    background-color: rgb(46, 114, 47);
    padding: 15px;
    font-size:40px;
}

.button{
    background-color: #306F35;
    border-radius: 5px;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #F2F2F2;
}

.company_name{
    position: absolute;
    top: 70%;
    margin-left:5%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 15px;
}

.details{
    position: relative;
    padding: 3px 3px;
    width: 230px;
    left: 10px;
    top: 10px;
}

.garden_area{
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #5B3D18;
    width: 90%;
    margin: 50px 50px;
    height: 70%;
    padding: 10px;
}

.individual_plot{
    position: relative;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;    
    background-color: #4B2A01;
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    padding: 10px;
}

.individual_plot:hover .overlay {
    opacity: 1;
}

.job_title{
    position: absolute;
    top: 80%;
    margin-left:5%;
    margin-right: 5%;
    font-size: 14px;
    color: rgb(199, 199, 199);
}

.mini-garden{
    border-radius: 25px;
    background-color: #5B3D18;
    width: 30%;
    margin: 50px 50px;
    height: 70%;
    padding: 5px 5px 10px 30px;
}

.new_plot{
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #4B2A01;
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    padding: 10px;
}

.options{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(24, 16, 8);
    font-size: 15px;
}

.plants{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -95%);
}

